#menu {
    .menu-content {
        margin-top: 30px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        position: relative;
        &::after {
            content: "..............................................................................................................";
            position: absolute;
            left: 20px;
            right: 0;
            top: -4px;
            z-index: 1;
            color: $gray-700;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        }
        a {
            padding-right: 10px;
            background: $primary;
            position: relative;
            z-index: 3;
            font-weight: 700;
            color: $secondary;
        }
        span {
            background: $primary;
            z-index: 3;
        }
    }
    .menu-ingredients {
        font-style: italic;
        color: $gray-800;

    }
}
