// 
// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y: .75rem !default;
$input-btn-padding-x: 1rem !default;

$input-btn-padding-y-sm: .5rem !default;
$input-btn-padding-x-sm: .75rem !default;

$input-btn-padding-y-lg: 1rem !default;
$input-btn-padding-x-lg: 1.25rem !default;

$input-group-addon-bg:                  $gray-200 !default;
$input-group-addon-border-color:        blue !default;
$input-group-addon-color:               red !default;

$input-focus-box-shadow:                none !default;
$input-border-width:                    2px;
$input-placeholder-color:               $gray-500;
$input-color:                           $gray-200;